*,
::before,
::after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: hsl(0, 2%, 9%);
    color: lightgrey;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

p {
    margin: 0.75rem auto;
}

a,
.link {
    color: darkgrey;
}

ul.no-list-style {
    list-style-type: none;
    padding: 0;
}

ul.underline {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.store-badge {
    height: 80px;
}

img#clan {
    height: 16rem;
    margin: 1rem;
}
